@charset('utf-8');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #1B7F7A;
    color: rgb(255, 255, 255);
}

section {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    margin-top: 20px;
    width: 500px;
    height: 500px;
    background-color: #0897B4;
    margin: auto;
    border-radius: 15px;;
}

section> h1 {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.principal{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

section > form > p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    margin-top: 5px;
    width: 300px;
    height: 27px;
    border-radius: 30px;
}

.submissao {
    width: 165px;
    border-radius: 30px;
    background-color: red;
    border: none;
    color: white;
}
.submissao:hover {
    background-color: darkred;
}